body {
  background-color: black;
}


.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  padding-left: 1rem;
  background-color: #333333;
}

.navbar {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-between;
  align-self: center;
  padding: 2%;
}

a {
  color: white;
  text-decoration: none;
  padding: 4px;
}

a:hover {
  color: lightblue;
  text-decoration: none;
}

.pageTitle {
  font-size: 15px;
  width: 100%;
  padding: 2%;
}

.campusNameView {
  font-size: 30px
}

/*------ CAMPUS LIST VIEW ------*/

.campusDisplay {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
  font-size: 12px;
}

.campusItem {
  display: flex;
  flex: 0 0;
  flex-direction: column;
}

#campusName {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#addCampusForm {
  display: flex;
  width: 10%;
  padding: 4rem;
  background-color: lightgray;
  outline-style: dotted;
  outline-width: thin;
  outline-color: gray;
  flex-direction: column;
}


/*------ STUDENT LIST VIEW ------*/

.studentDisplay {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
  font-size: 12px;
}

.studentContainer {
  display: flex;
  justify-content: center;
  width: inherit;
  font-size: 14px;
  flex: 0 0;
  flex-direction: column;
}

.singleStudentView {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
  font-size: 12px;
}


.studentNameLink {
  font-size: 19px;
  color: green;
}

.gpaBox {
  padding: 4px;
  display: flex;
  font-size: 14px;
  color: black;
}

.studentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
}


#addStudentForm {
  display: flex;
  width: 100%;
  padding: 4rem;
  outline-style: dotted;
  outline-width: thin;
  outline-color: gray;
  flex-direction: column;
}

#submitButton {
  display: flex;
  width: 4%;
  padding-right: 3rem;
  background-color: skyblue;
  outline-style: dotted;
  outline-width: thin;
  outline-color: gray;
  flex-direction: row;
}
